<launch>
    <param name="with_depth" type="bool" value="true"/>
    <include file="$(find realsense2_camera)/launch/rs_aligned_depth.launch"/>
    <include file="$(find serial)/launch/default.launch"/>
    <include file="$(find detector)/launch/default.launch"/>
    <include file="$(find controller)/launch/default.launch"/>
    <include file="$(find auto_align)/launch/default.launch"/>
    <include file="$(find flow_control)/launch/default.launch"/>
</launch>